
*,
*::before,
*::after {
  box-sizing: border-box;
}

*[class*="title"],
*[class*="heading"],
*[class*="text"] {
  margin: 0;
}

*[class*="link"],
*[class*="button"]  {
  color: inherit;
  text-decoration: none;
}

*[class*="input"] {
  font: inherit;
  color: inherit;
}

*[class*="list"],
*[class*="menu"] {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.grecaptcha-badge {
	// opacity: 0!important;
	// z-index: -1!important;
}
