//Стили для страницы Акции
.akcii {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.akcii__heading {
  margin: auto;
  margin-bottom: 20px;
  font-family: $font-secondary;
  font-weight: $font-bold;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $min-desktop) {
    margin: 0;
    margin-bottom: 45px;
    font-size: 40px;
    line-height: 48px;
    text-align: start;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.akcii__title {
  padding: 10px 10px;

  @include font_subtitles;
}

.akcii__text {
  max-width: 460px;
  margin: 0 0 25px 0;
  font-style: normal;
  font-size: $font-size-min;
  line-height: 16px;
  text-indent: 0;
}

.akcii__cta {
  width: 290px;
  padding: 14px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.akcii__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 300px;
  padding: 25px 30px;
  margin-top: 30px;
  background: #f5f5f5;
  overflow: hidden;


  &::after {
    position: static;
    display: block;
    width: 280px;
    height: 150px;
    margin-top: 20px;
    border: 3px solid #00659e;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: "";
  }


  &--welcome::after {
    background-image: url("../img/discount/welcome.jpeg");
  }

  &--crisis::after {
    background-image: url("../img/discount/crisis.jpeg");
  }

  &--neighborhood::after {
    background-image: url("../img/discount/neighborhood.jpeg");
  }

  &--gift::after {
    background-image: url("../img/discount/gift.jpeg");
  }

  &--close::after {
    background-image: url("../img/discount/close.jpeg");
  }


  @media (min-width: $min-desktop) {
    &::after {
      position: absolute;
      top: -10px;
      right: -10px;
      display: block;
      width: 580px;
      height: 320px;
      margin: 0;
      border: 10px solid #00659e;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      content: "";
    }


    &--welcome::after {
      background-image: url("../img/discount/welcome.jpeg");
    }

    &--crisis::after {
      width: 460px;
      height: 460px;
      border-radius: 50%;
      background-image: url("../img/discount/crisis.jpeg");
    }

    &--neighborhood::after {
      background-image: url("../img/discount/neighborhood.jpeg");
    }

    &--gift::after {
      width: 460px;
      height: 460px;
      border-radius: 50%;
      background-image: url("../img/discount/gift.jpeg");
    }

    &--close::after {
      background-image: url("../img/discount/close.jpeg");
    }

  }
}
