.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  text-transform: uppercase;
  box-shadow: 0 5px 15px rgba(79, 64, 0, 0.15), inset 0 -1px 0 rgba(23, 22, 22, 0.2);
  border: none;
  border-radius: 50px;
  cursor: pointer;

  &--primary {
    color: var(--font-color-inv);
    background-color: var(--btn-bg-basic);
  }

  &--secondary {
    color: var(--font-color-basic);
    background-color: var(--btn-bg-secondary);
  }

  &--details {
    color: var(--font-color-secondary);
  }

  &--primary:hover {
    background-color: #007cc1;
  }

  &--secondary:hover {
    background-color: #ffce65;
  }
}
