.designer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $min-tablet) {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  @media (min-width: $min-desktop) {
    padding-top: 0;
    padding-bottom: 60px;
  }

  &::after {
    @media (min-width: 1520px) {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../img/palette.png");
      background-size: 564px;
      background-position-x: calc(50% + 900px);
      background-position-y: 80px;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg/background_designer_t.webp");
    background-size: 720px;
    background-position-x: calc(50% - 30px);
    background-position-y: 60px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  @media (min-width: $min-tablet) {
    &::before {
      background-size: 700px;
      background-position-x: calc(50% - 400px);
      background-position-y: 15px;
    }
  }

  @media (min-width: $min-desktop) {
    &::before {
      background-size: 870px;
      background-position-x: calc(50% - 520px);
      background-position-y: 10px;
    }
  }
}

.designer__content {
  display: flex;
  flex-wrap: wrap;
}

.designer__left {
  margin-top: 450px;

  & b {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }

  & h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }

  & span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }

  @media (min-width: $min-tablet) {
    width: 50%;
    margin-top: 420px;
    text-align: left;
    padding-right: 40px;
  }

  @media (min-width: $min-desktop) {
    width: 50%;
    margin-top: 500px;
    text-align: right;
    padding-right: 80px;
  }
}

.designer__right {
  text-align: left;
  margin-top: 30px;

  & h3 {
    text-align: left;
    padding: 0;
  }

  & strong {
    text-align: left;
    padding: 0;
  }

  & span {
    text-align: left;
    padding: 0;
  }

  & p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }

  @media (min-width: $min-tablet) {
    width: 50%;
    margin-top: 0;

    & p {
      font-size: 14px;
      line-height: 18px;
    }
  }

  @media (min-width: $min-desktop) {
    width: 50%;

    & p {
      line-height: 22px;
      font-size: 18px;
    }
  }
}

.designer__diploms {
  display: flex;

  & a {
    max-width: 200px;
    width: 100%;
    display: block;
    margin: 10px;
  }

  & img {
    width: 100%;
    max-height: 200px;
    height: 100%;
    object-fit: cover;
  }
}
