.design-price {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $bg-color-secondary;

  @media (min-width: $min-tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $min-desktop) {
    position: relative;
    padding: 0;
    margin-top: 221px;
    margin-bottom: 146px;

    &::before,
    &::after {
      position: absolute;
      width: 100%;
      height: 120px;
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
    }

    &::before {
      top: -119px;
      background-image: url("../img/bg/advantages/blue_top.svg");
      background-position: top;
    }

    &::after {
      bottom: -80px;
      background-image: url("../img/bg/advantages/blue_bottom.svg");
      background-position: bottom;
      z-index: -1;
    }
  }
}

.design-price .section__title {
  color: $font-color-inverted;
}

.design-price .section__text {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $font-color-inverted;

  & b {
    padding: 0 5px;
    background-image: url("../../img/pattern_small.svg");
    background-size: 45px;
    background-position: center;
    background-repeat: no-repeat;
    color: $font-color;
  }

  @media (min-width: $min-desktop) {
    max-width: 1060px;
    margin: 0 auto;
  }
}

.design-price__tariffs {
  display: grid;
  gap: 30px;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 50px;
  list-style: none;

  @media (min-width: $min-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $min-desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.design-price__tariff {
  padding: 15px;
  background-color: $bg-color-primary;

  & h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
  }

  & p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  & table {
    border-collapse: collapse;
    table-layout: fixed;
    border-top: 1px solid $input-border-color;
    margin: 0 auto;
    margin-top: 30px;

    & td, th {
      padding: 10px;
      font-size: 14px;

      @media (min-width: $min-tablet) {
        font-size: 16px;
      }
    }

    & th {
      color: $input-border-color;
    }

    & td:nth-of-type(1) {
      text-align: right;
    }

    & td:nth-of-type(2) {
      text-align: left;
      font-weight: 700;
    }
  }
}

.design-price__tariff:nth-of-type(4) table {
  margin-top: 70px;
}
