//Стили для секции с текстом сео из редактора
.dizain-proekty {
  order: 12;
}

.dizain-proekty .wp-block-heading {
  margin-bottom: 30px;

  @include font_titles;

  &--inherit {
    font: inherit;
    color: inherit;
  }
}
