//

.finishing {
  padding: 40px 0;

  @media (min-width: $min-desktop) {
    max-width: 1140px;
    padding: 60px 0;
    font-size: 18px;
    line-height: 24px;


    .section__subtitle {
      margin: 0 auto;
    }

  }

  & .section__text {
    margin-bottom: 10px;

    @media (min-width: $min-desktop) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  & .sub-list {
    margin-bottom: 15px;
    @include font_basic;

    @media (min-width: $min-desktop) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
