.individual {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;

  @media (min-width: $min-tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $min-desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.individual__price-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 180px;
  margin: 0 auto;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: $font-color-secondary;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s ease all;
  text-decoration: none;

  @media (min-width: $min-desktop) {
    display: block;
    width: auto;
    position: absolute;
    z-index: 5;
    right: 30px;
    top: 140px;

    & b {
      margin-top: 5px;
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }
  }

  &:hover {
    opacity: 0.8;
  }
}

.individual .individual__text {
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $min-desktop) {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.individual__content {
  padding: 15px;
  background-color: $bg-color-additional;
  box-shadow: 0 0 10px rgb(0 0 0 / 25%);
}

.individual ul {
  padding: 0;
}

.individual__item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  list-style: none;
  margin-top: 40px;
  margin-bottom: 0;

  & ul {
    padding-left: 28px;
  }

  @media (min-width: $min-tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $min-desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.individual__img-cont img {
  max-width: 100%;
}

.individual__list {
  margin-bottom: 10px;

  @media (min-width: $min-tablet) {
    font-size: 19px;
  }

  &--true {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -25px;
      top: 3px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #808080;
      background-image: url("../img/icon_slider_true.svg");
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--false {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -25px;
      width: 18px;
      top: 3px;
      height: 18px;
      border-radius: 50%;
      background-color: #808080;
      background-image: url("../img/icon_slider_false.svg");
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.individual__price {
  text-align: center;

  @include font_secondary($font-bold);

  color: var(--font-color-secondary);
  font-size: 18px;
  line-height: 20px;

  @media (min-width: $min-desktop) {
    font-size: 24px;
    line-height: 28px;
  }
}

.individual__price-cont .button {
  padding: 15px 40px;
  width: fit-content;
  margin: 0 auto;
  font-weight: 700;
}

.individual__content h3,
.individual__content span {
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;

  @include font_secondary($font-bold);

  font-size: $font-size-min;
  line-height: 16px;
  text-transform: uppercase;
  text-indent: 0;

  @media (min-width: $min-desktop) {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }
}

.individual__description {
  @media (min-width: $min-tablet) {
    min-height: 230px;
  }

  @media (min-width: $min-desktop) {
    min-height: 270px;
  }
}

.individual__btn-full {
  padding: 15px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: $bg-color-primary;
  cursor: pointer;
  transition: 0.3s;
  display: block;

  @media (min-width: $min-tablet) {
    display: none;
  }

  &:hover {
    opacity: 0.8;
  }
}

.individual__notification {
  background-color: $bg-color-additional;
  padding: 20px;
  display: block;
  border-radius: 20px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.individual__list-disabled {
  display: none;

  @media (min-width: $min-tablet) {
    display: block;
  }
}

.individual--active {
  display: block;
}
