//
.materials {
  padding: 40px 0;

  @media (min-width: $min-desktop) {
    padding-top: 50px;
  }
}

.materials__headline {
  margin-bottom: 10px;
}

.materials__supply {
  margin-bottom: 40px;
  line-height: 20px;
  text-align: center;
  text-indent: 0;

  @media (min-width: $min-desktop) {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 28px;
  }
}

.materials__benefits {
  @media (min-width: $min-desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(130px, min-content);
    column-gap: 80px;
    align-items: flex-start;
  }

  @media (min-width: 1550px) {
    grid-template-columns: repeat(3, 416px);
  }

  &>.list__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 40px;
    padding-left: 95px;

    @media (min-width: $min-desktop) {
      margin-bottom: 0;
      padding-left: 110px;
    }
  }

  &>.list__item:not(:last-of-type) {
    margin-bottom: 40px;

    @media (min-width: $min-desktop) {
      margin-bottom: 0;
    }
  }

  &>.list__item::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: "";
  }
}

.materials__benefits-title {
  margin-bottom: 7px;
  padding: 0;

  @media (min-width: $min-desktop) {
    font-size: 18px;
    line-height: 18px;
  }
}

.materials__benefits-reliable {
  &::before {
    background-image: url("../img/advantages/materials/reliable.webp");
  }
}

.materials__benefits-discount {
  &::before {
    background-image: url("../img/advantages/materials/discount.webp");
  }
}

.materials__benefits-rough {
  &::before {
    background-image: url("../img/advantages/materials/rough.webp");
  }
}

.materials__benefits-finishing {
  &::before {
    background-image: url("../img/advantages/materials/finishing.webp");
  }
}

.materials__benefits-delivery {
  &::before {
    background-image: url("../img/advantages/materials/delivery.webp");
  }
}

.materials__benefits-installation {
  &::before {
    background-image: url("../img/advantages/materials/installation.webp");
  }
}

.materials__benefits-description {
  text-indent: 0;

  @media (min-width: $min-desktop) {
    width: 100%;
    padding-left: 0;
    font-size: 14px;
    line-height: 14px;
  }

  a {
    color: inherit;
    font-weight: 700;
  }
}
