//Пагинация
.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  list-style-type: none;
}

.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  @media (min-width: $min-desktop) {
    width: 42px;
    height: 42px;
  }

  border-radius: 50%;

  .page-numbers,
  .current {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  &:not(:last-of-type) {
    margin-right: 8px;
  }

  &--active.button:hover {
    background-color: var(--btn-bg-basic);
    cursor: auto;
  }
  &--active {
    box-shadow: 5px 5px 5px rgba(79, 64, 0, 0.75);
  }
}
