.portfolio-detail {
  padding-top: 40px;

  @media (min-width: $min-desktop) {
    padding-top: 0;
  }
}

.portfolio-detail__wrap {
  display: flex;
  background-color: $bg-color-primary;
  padding: 20px;
  flex-direction: column;

  @media (min-width: $min-desktop) {
    flex-direction: row;
  }
}

.portfolio-detail__wrap .examples__item-address {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}

.portfolio-detail__wrap .button {
  margin-top: 0;
  transform: translateY(-50%);
  color: #ffffff;
  background-color: $bg-color-btn;
  transition: 0.3s;
}

.portfolio-detail__wrap .button:hover {
  opacity: 0.8;
}

.portfolio-detail__wrap .section__text {
  line-height: 22px;
}

.portfolio-detail__slider-cont,
.portfolio-detail__text-cont {
  width: 100%;
  overflow: hidden;

  @media (min-width: $min-desktop) {
    width: 50%;
  }
}

.portfolio-detail__text-cont {
  @media (min-width: $min-desktop) {
    padding-right: 20px;
  }
}

.portfolio-detail .section__text {
  margin-bottom: 20px;
}


@media (min-width: $min-desktop) {
  .portfolio-detail .examples__heading {
    padding-top: 50px;
  }
}

.portfolio-detail__slider-cont {
  height: 100%;
}

.portfolio-detail__swiper-main .swiper-slide,
.portfolio-detail__swiper-second .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-detail__swiper-main {
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $min-tablet) {
    height: 500px;
  }
}

.portfolio-detail__swiper-second {
  height: auto;
  box-sizing: border-box;
  padding: 10px 0;
  position: relative;

  @media (min-width: $min-tablet) {
    height: 100px;
  }
}

.portfolio-detail__slider-cont .button::after,
.portfolio-detail__slider-cont .button::before {
  font-size: 16px;
}

.portfolio-detail__slider-cont .button {
  background-image: none;
}

.portfolio-detail__swiper-second .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.portfolio-detail__swiper-second .swiper-slide-thumb-active {
  opacity: 1;
}

.portfolio-detail__swiper-second .swiper-slide img,
.portfolio-detail__swiper-main .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
