.portfolio {
  background-image: none;
  padding-top: 40px;

  &::before {
    content: none;
  }

  h2 {
    padding-top: 0;
  }

  @media (min-width: $min-desktop) {
    padding-top: 0;

    h2 {
      padding-top: 40px;
    }
  }
}

.portfolio__link {
  color: $font-color-secondary;
  text-decoration: underline;
  transition: 0.3s;

  &:hover {
    text-decoration: none;
  }
}

.portfolio__title {
  margin-bottom: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $bg-color-additional;
}

.portfolio__main-text {
  margin-bottom: 5px;
  line-height: 20px;
  text-indent: 0;
  text-align: left;

  @media (min-width: $min-desktop) {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 28px;
  }
}

.portfolio h3,
.portfolio span {
  margin-bottom: 0;
}

.portfolio__togglers {
  margin-top: 20px;
}
