.stages {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $min-tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $min-desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.stages__remark {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $input-border-color;
  text-align: center;
  margin-top: 30px;
}

.stages__item {
  position: relative;
  padding-left: 115px;

  & p {
    margin-top: 5px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 80px;
    top: 0;
    left: 0;
  }

  &::after {
    content: none;
    position: absolute;
    width: 30px;
    height: 20px;
    top: 30px;
    right: 28px;
    background: url("../../img/icon_arrow_blue.svg") center / cover no-repeat;
  }

  &:last-of-type::after {
    content: none;
  }

  &:nth-of-type(1)::before {
    background: url("../../img/advantages/steps/request.webp") center / cover no-repeat;
  }

  &:nth-of-type(2)::before {
    background: url("../../img/advantages/steps/agree.webp") center / cover no-repeat;
  }

  &:nth-of-type(3)::before {
    background: url("../../img/advantages/steps/consult.webp") center / cover no-repeat;
  }

  &:nth-of-type(4)::before {
    background: url("../../img/advantages/steps/design.webp") center / cover no-repeat;
  }

  &:nth-of-type(5)::before {
    background: url("../../img/advantages/steps/10_days.webp") center / cover no-repeat;
  }

  &:nth-of-type(6)::before {
    background: url("../../img/advantages/steps/20_days.webp") center / cover no-repeat;
  }

  @media (min-width: $min-tablet) {
    padding-left: 0;
    padding-top: 90px;

    &::after {
      content: "";
      transform: translateX(0);
      animation: arrow-anim 1s linear 0s infinite alternate;
    }
  }
}

.stages__stages-ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 0;
  display: grid;
  gap: 20px;

  @media (min-width: $min-tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $min-desktop) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.stages__item b {
  margin-bottom: 10px;
  margin-top: 0;

  @include font_secondary($font-bold);

  font-size: $font-size-min;
  line-height: 16px;
  text-transform: uppercase;
  text-indent: 0;

  @media (min-width: $min-desktop) {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }
}

@keyframes arrow-anim {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-15px);
  }
}
