.types-repair {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $min-tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $min-desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.types-repair__wrap {
  display: flex;
  background-color: $bg-color-additional;
  padding: 20px;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: $min-desktop) {
    flex-direction: row;
  }
}

.types-repair__info {
  margin-bottom: 30px;

  @media (min-width: $min-desktop) {
    padding-right: 20px;
    margin-bottom: 0;
  }
}

.types-repair__info,
.types-repair__img {
  width: 100%;
  overflow: hidden;

  @media (min-width: $min-desktop) {
    width: 50%;
  }
}

.types-repair__list {
  margin-bottom: 10px;

  @media (min-width: $min-tablet) {
    font-size: 19px;
  }

  &--true {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -25px;
      top: 3px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #808080;
      background-image: url("../img/icon_slider_true.svg");
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--false {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -25px;
      width: 18px;
      top: 3px;
      height: 18px;
      border-radius: 50%;
      background-color: #808080;
      background-image: url("../img/icon_slider_false.svg");
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.types-repair ul {
  padding: 0;
  padding-left: 28px;
}

.types-repair__sub-title {
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
  color: $font-color;
  text-decoration: none;

  @include font_secondary($font-bold);

  font-size: $font-size-min;
  line-height: 16px;
  text-transform: uppercase;
  text-indent: 0;

  @media (min-width: $min-desktop) {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }
}

.types-repair__price {
  display: flex;
  align-items: center;

  p {
    margin-right: 20px;
  }

  &--blue {
    font-weight: 700;
    color: $font-color-secondary;
  }
}

.types-repair {
  .button {
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
  }

  @media (min-width: $min-desktop) {
    .button {
      bottom: 0;
      padding: 20px 50px;
      width: fit-content;
      position: relative;
    }
  }
}

.types-repair__link {
  margin-bottom: 0;
}

.types-repair__img a:first-child {
    display: inline-block;
    width: 100%;
}

.types-repair__img {
  margin-bottom: 70px;

  @media (min-width: $min-desktop) {
    margin-bottom: 0;
  }
}

.types-repair__img a {
  display: block;
  width: 25%;
  outline: 0;
  cursor: pointer;
  float: left;
  padding: 5px;

  img {
    max-width: 100%;
    height: auto;
  }
}
