.menu {
  margin: 0;
  list-style-type: none;
}

.menu__item {
  position: relative;
  display: flex;
  align-items: center;
  width: max-content;
  padding: 7px 0;

  &:not(.submenu):hover {
    background-image: url("../img/bg/menu/hover-yellow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.menu__link {
  text-transform: uppercase;
}
