.submenu {
  display: flex;
  flex-direction: column;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 16px;

  &:hover .submenu__list {
    height: fit-content;
    opacity: 1;
    z-index: 1;
  }
}

.submenu__list {
  position: absolute;
  left: -40px;
  display: flex;
  height: 1px;
  flex-direction: column;
  min-width: max-content;
  margin-top: 34px;
  background-color: var(--bg-color-basic);
  opacity: 1;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  z-index: -1;
  transition: opacity ease 0.3s, height ease 0.6s;

  @media (min-width: $min-desktop) {
    left: -20px;
    min-width: 255px;
    box-shadow: none;
  }
}

.submenu__item {
  padding: 10px;

  &:hover {
    background-image: url("../img/bg/submenu/bg_m_yellow.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.submenu__drop-down {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: max-content;
  padding: 6px 0;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;

  &::after {
    width: 20px;
    height: 10px;
    margin-left: 9px;
    background-image: url("../img/arrow_09.svg");
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
  }
}

.submenu__link {
  line-height: 20px;
  text-transform: none;
}
